@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* sheard style  */
.displey-flex{
    display: flex;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;

}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
/* some fact card style  */
.fact-numbar{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;

}
.fact-card{
    border: 1px solid gold;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.fact-discription{
    max-width: 540px;
}

/* header style */


/* navbar style */
.navbar{
   justify-content: space-between;
   align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-links{
   text-decoration: none; 
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .bannar{
    max-width: 1440px;
    margin: 0 auto;
}
/* bannat style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.bannar-content{
    font-weight: 700;
    font-size: 4rem;
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    padding: 20px 25px;
    color: white;
    font-size: 1.25em;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
main{
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 20px;
}
main > section{
    margin-top: 130px;
}
.banner-image{
    width: 100%;
}
/* team and feature related styles */
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-feature{
    margin-left: 80px; 
    max-width: 576px;
}

#quick-list{
    font-weight: 500;
}
.features{
    color: #FF900E;
}
/* sponsore related style */
.sponsors-info{
        max-width: 540px;
        margin: 50px auto;
        text-align: center;
    }
    .sponsors-companies{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .sponsors-companies img{
        filter: grayscale(100%);
    }
/* responsive media quary */
@media  screen and (max-width:576px) {
    .navbar, 
    .nav-links,.teams {
        display: flex;
        flex-direction: column;
    }
    .team-img-container,
    .facts-container,
    .sponsors-companies{
        grid-template-columns: 1fr;
    }
    .facts-container{
        justify-content: center;
        gap:24px;
    }
    .sponsors-companies{
        justify-content: center;
        gap:50px;
    }
    
      
        
    .our-feature{
        margin: 0;
        max-width: 100%;
    }
    
    
}
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .sponsors-companies, .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap:50px;
        justify-items: center;
    }
    
}
  